@use '../settings/variables';
@use '../settings/colors';


#light, #dark {
  width: 100%;
  height: 100svh;
  overflow: hidden;


  .app-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 101;


    .navigation-container {
      background: transparent;
      padding: 1rem;
      width: 100%;
      height: 4rem;
      flex-wrap: wrap;
      display: flex;
      align-content: flex-start;
      justify-content: space-between;

      .main-title {
        font-size: 2rem;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }

      .menu-container {
        display: flex;
        justify-content: flex-end;
      }


      .menu-btn {
        display: none;
      }

      .theme-btn-border {
        width: 3.5rem;
        height: 2rem;
        border-radius: 40px;
        padding: 0;
        position: relative;
        transition: all 400ms ease-in-out;
        margin-left: 3rem;

        .icon-circle {
          width: 26px;
          height: 26px;
          border-radius: 40px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;

          .theme-icon {
            display: inline-flex;
            font-size: 1rem;
          }
        }
      }

      .theme-btn-border.light {
        background: colors.$switch-btn-light;
        border: 3px solid colors.$light-start-btn;
        display: flex;
        justify-content: flex-start;

        .icon-circle.light {
          background: linear-gradient(to right, #fee140 0%, #fa709a 100%);
          box-shadow: 0 0 5px colors.$light-btn-shadow;

          .theme-icon-light {
            display: inline-flex;
            color: colors.$light-main-color;
            font-size: 1rem;

          }
        }
      }

      .theme-btn-border.dark {
        background: colors.$switch-btn-dark;
        border: 3px solid colors.$dark-border-color;
        display: flex;
        justify-content: flex-end;

        .icon-circle.dark {
          background: linear-gradient(-225deg, #4801FF 0%, #7918F2 48%, #AC32E4 100%);
          box-shadow: 0 0 5px colors.$dark-btn-glow;
          .theme-icon-dark {
            display: inline-flex;
            color: white;
            font-size: 1rem;

          }
        }
      }


      .hamburger-container {
        position: relative;
        width: 2rem;
        height: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .top-bar, .bottom-bar {
          position: absolute;
          width: 100%;
          height: 0.3rem;
          border-radius: 40px;
          transition: all 300ms ease-in-out, width 150ms ease-in-out;
        }

        .top-bar {
          z-index: 3;
          top: 2px;
        }

        .bottom-bar {
          z-index: 4;
          bottom: 2px;
        }



        .middle-bar {
          z-index: 5;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70%;
          height: 0.3rem;
          margin: 0 auto;
          border-radius: 40px;
          transition: all 300ms ease-in-out, width 150ms ease-in-out;
        }

        transition: all 300ms ease-in-out, width 150ms ease-in-out;

        &:hover {
          cursor: pointer;
        }
      }

      .clicked {
        border-radius: 60px;

        .top-bar {
          top: 44%;
          left: 0;
          rotate: 45deg;
          translate:(-50, -50%);
        }

        .middle-bar {
          display: none;
        }

        .bottom-bar {
          top: 44%;
          left: 0;
          rotate: -45deg;
          translate:(-50, -50%);
        }

      }


      @media screen and (min-width: 768px) and (max-width: 1024px) {
        .menu-btn {
          padding: 0.5rem 1rem;
          display: inline-flex;
          border: 1px solid navy;
          border-radius: 80px;
          font-style: variables.$Exo;
          font-weight: 600;
          background: none;
        }

        .hamburger-container {
          display: none;
        }
      }

      .main-title {
        font-size: 2rem;
        font-family: variables.$Montserrat;
        font-weight: 800;
        font-style: italic;

      }

      .menu-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }

    }

    .mobile-container {
      width: 100%;
      height: calc(100svh - 3.5rem);
      background: rgba(255 , 255 , 255, 0);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);

      .mobile-menu {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .mobile-menu-tile {
          width: 100%;
          height: 15%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-bottom: 1rem;
          margin: 1.5rem 0;

          .menu-icon {
            display: block;
            font-size: 2.5rem;
            margin: 1.5rem 1.5rem 1.5rem 4rem;
          }

          p {
            font-size: 2rem;
            font-family: variables.$Montserrat;
            font-weight: 600;
            margin-left: 5rem;
          }
        }
      }
    }

    .body-container {
      width: 100%;
      height: calc(100svh - 4rem);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .ball-border {
        width: 10rem;
        height: 10rem;
        border-radius: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 3rem;
          font-family: variables.$Montserrat;
          font-weight: 800;
        }

        @media  screen and (min-width: 412px){
          width: 15rem;
          height: 15rem;

          p {
            font-size: 5rem;
          }

        }

      }

      .homePage-title, .homePage-text {
        font-size: 1.2rem;
        font-family: variables.$Montserrat;
        font-weight: 800;
        text-align: center;

        @media  screen and (min-width: 412px){
          font-size: 1.9rem;
        }

      }

      .homePage-text {
        font-size: 1.2rem;
      }

      .btns-container {
        padding: 2rem 1rem;
        display: flex;
        width: 100%;
        height: 30svh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: variables.$Montserrat;
        font-weight: 600;
        border-radius: 2rem;
        text-align: center;

        .homePage-btn {
          padding: 1.5rem 1.5rem;
          width: 70%;
          margin-bottom: 3rem;
          border-radius: 20rem;
          font-size: 2.5rem;
          font-weight: 600;
          font-family: variables.$Montserrat;
          opacity: 80%;
          transition: 0.2s ease-in-out;
          background-blend-mode: difference;
        }
      }
    }
  }

}


