@use '../settings/variables';
@use '../settings/colors';


#light .gradient-animation-container {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  .gradient-1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$light-color-1, 0.8) 0, rgba(colors.$light-color-1, 0) 90%) no-repeat;
    mix-blend-mode: multiply;

    width: variables.$circle-size;
    height: variables.$circle-size;
    top: calc(50% - 95% / 2);
    left: calc(50% - 95% / 2);

    transform-origin: center center;
    animation: verticalPath 40s ease-in infinite;

    opacity: 0.7;
  }

  .gradient-2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$light-color-2, 0.8) 0, rgba(colors.$light-color-2, 0) 50%) no-repeat;
    mix-blend-mode: variables.$blending;

    width: variables.$circle-size;
    height: variables.$circle-size;
    top: calc(50% - 95%  / 2);
    left: calc(50% - 95%  / 2);

    transform-origin: calc(50% - 400px);
    animation: circlePath 60s reverse infinite;

    opacity: 0.9;
  }

  .gradient-3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$light-color-3, 0.8) 0, rgba(colors.$light-color-3, 0) 80%) no-repeat;
    mix-blend-mode: variables.$blending;

    width: variables.$circle-size;
    height: variables.$circle-size;
    top: calc(50% - 95%  / 2 + 200px);
    left: calc(50% - 95%  / 2 - 500px);

    transform-origin: calc(50% + 25rem);
    animation: circlePath 40s linear infinite;

    opacity: 0.8;
  }

  .gradient-4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$light-color-4, 0.8) 0, rgba(colors.$light-color-4, 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - 95%  / 2);
    left: calc(50% - 95%  / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.8;
  }

  .gradient-5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$light-color-5, 0.8) 0, rgba(colors.$light-color-5, 0) 85%) no-repeat;
    mix-blend-mode: variables.$blending;

    width: calc(95% * 2);
    height: calc(95% * 2);
    top: calc(50% - 95%);
    left: calc(50% - 95%);

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: circlePath 20s ease infinite;

    opacity: 0.9;
  }

  .main-title, p, h2 {
    color: colors.$light-main-color;
  }

  .top-bar, .bottom-bar {
    background: colors.$light-main-color;
  }

  .middle-bar {
    background: colors.$light-main-color;
    opacity: 0.7;
  }

}

#dark .gradient-animation-container {
  background: rgb(23,1,105);
  background: linear-gradient(149deg, rgba(23,1,105,1) 0%, rgba(103,0,117,1) 100%);

  .gradient-1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$dark-color-1, 0.8) 0, rgba(colors.$dark-color-1, 0) 90%) no-repeat;
    mix-blend-mode: multiply;

    width: variables.$circle-size;
    height: variables.$circle-size;
    top: calc(50% - 95% / 2);
    left: calc(50% - 95% / 2);

    transform-origin: center center;
    animation: verticalPath 40s ease-in infinite;

    opacity: 0.7;
  }

  .gradient-2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$dark-color-2, 0.8) 0, rgba(colors.$dark-color-2, 0) 50%) no-repeat;
    mix-blend-mode: variables.$blending;

    width: variables.$circle-size;
    height: variables.$circle-size;
    top: calc(50% - 95% / 2);
    left: calc(50% - 95% / 2);

    transform-origin: calc(50% - 400px);
    animation: circlePath 60s reverse infinite;

    opacity: 0.9;
  }

  .gradient-3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$dark-color-3, 0.8) 0, rgba(colors.$dark-color-3, 0) 80%) no-repeat;
    mix-blend-mode: variables.$blending;

    width: variables.$circle-size;
    height: variables.$circle-size;
    top: calc(50% - 95% / 2 + 200px);
    left: calc(50% - 95% / 2 - 500px);

    transform-origin: calc(50% + 25rem);
    animation: circlePath 40s linear infinite;

    opacity: 0.8;
  }

  .gradient-4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$dark-color-4, 0.8) 0, rgba(colors.$dark-color-4, 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - 95% / 2);
    left: calc(50% - 95% / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.8;
  }

  .gradient-5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(colors.$dark-color-5, 0.8) 0, rgba(colors.$dark-color-5, 0) 85%) no-repeat;
    mix-blend-mode: variables.$blending;

    width: calc(95% * 2);
    height: calc(95% * 2);
    top: calc(50% - 95%);
    left: calc(50% - 95%);

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: circlePath 20s ease infinite;

    opacity: 0.9;
  }

  .main-tile, p, h1, h2, h3 {
    color: colors.$dark-main-color;
  }

  .top-bar, .bottom-bar {
    background: colors.$dark-main-color;
  }

  .middle-bar {
    background: colors.$dark-main-color;
    opacity: 0.7;
  }


}

#light .homePage-title {
  color: colors.$light-main-color;
}

#light .start-btn, .login-btn {
  background: colors.$light-start-btn;
  border: 0.5px solid colors.$light-btn-border-color;
  color: colors.$light-start-btn-text;
  box-shadow: 1px 3px 10px colors.$light-btn-shadow;

  &:hover {
    box-shadow: 0 0 10px colors.$light-main-color;
  }

  &:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8);
  }
}



#dark .start-btn {
  background: colors.$light-start-btn;
  border: 2px solid colors.$light-btn-border-color;
  box-shadow: 0 0 5px colors.$dark-btn-glow;
  color: colors.$dark-main-color;

  &:hover {
    box-shadow: 0 0 10px colors.$dark-btn-glow;
  }

  &:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8);
  }
}

#dark .login-btn {
  background: colors.$light-start-btn;
  border: 2px solid colors.$light-btn-border-color;
  box-shadow: 0 0 5px colors.$dark-btn-glow;
  color: colors.$dark-main-color;

  &:hover {
    box-shadow: 0 0 10px colors.$dark-btn-glow;
  }

  &:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8);
  }
}

#light .mobile-menu-tile {

  border-bottom: 2px solid colors.$light-btn-border-color;
  color: colors.$light-main-color;
}

#dark .mobile-menu-tile {

  border-bottom: 2px solid colors.$light-btn-border-color;
  color: colors.$dark-main-color;
}

#light svg {
  color: colors.$light-main-color;
}

#light .error {
    color: colors.$error;
}

#light .success {
  color: colors.$success;
}

#dark .error {
  color: colors.$error;
}

#dark .success {
  color: colors.$success;
}

#dark svg {
  color: colors.$dark-main-color;
}

#light .form-btn {
  background: colors.$light-main-color;
  color: colors.$dark-main-color;
  border: 2px solid colors.$light-btn-border-color;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}


#dark .form-btn {
  background: colors.$light-main-color;
  color: colors.$dark-main-color;
  border: 2px solid colors.$dark-main-color;
  box-shadow: 0 0 10px colors.$dark-main-color;
}

#dark .modal {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid colors.$dark-main-color;
  box-shadow: 0 0 10px colors.$dark-btn-glow;
}

#dark .modal-btn {
  background: colors.$accent-color;
  border: 1px solid colors.$dark-main-color;
  box-shadow: 0 0 10px colors.$dark-btn-glow;
  color: colors.$light-main-color;
}

#light .modal {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid colors.$light-btn-border-color;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}

#light .modal-btn {
  background: colors.$accent-color;
  border: 2px solid colors.$light-btn-border-color;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
  color: colors.$light-main-color;
}

#light .success-btn {
  background: colors.$success;
}

#light input {
  color: colors.$light-main-color;
  border-bottom: 1px solid colors.$light-main-color;
}

#light label {
  color: colors.$light-main-color;
}

#dark input {
  color: colors.$accent-color;
  border-bottom: 1px solid colors.$accent-color;
}

#light .homePage-tile {
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
  //background: colors.$light-border-color;
}

#dark .homePage-tile {
  box-shadow: 0 0 10px colors.$dark-btn-glow;
  //background: colors.$light-border-color;
}

#light .ball-border {
  border: 1rem solid colors.$light-main-color;
  color: colors.$light-main-color;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}

#dark .ball-border {
  border: 1rem solid colors.$light-main-color;
  color: colors.$dark-main-color;
  box-shadow: 0 0 20px colors.$dark-main-color;
}


#light .homePage-btn {
  color:  colors.$light-main-color;
  border: 2px solid colors.$light-main-color;
  background: rgba(colors.$light-main-color, 0.1);
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}

#dark .homePage-btn {
  box-shadow: 0 0 10px colors.$dark-btn-glow;
  color:  colors.$light-main-color;
  border: 2px solid colors.$light-main-color;
  background: colors.$accent-color;
}


#dark label {
  color: colors.$dark-main-color;
}

#light .user-icon {
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}

#dark .user-icon {
  box-shadow: 0 0 10px colors.$dark-main-color;
}

#light .generator-container {
  background: colors.$light-start-btn;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}

#dark .generator-container {
  background: linear-gradient(180deg, rgba(255, 255, 255,0) 40%, colors.$light-start-btn 100%);
  border-bottom: 1px solid colors.$accent-color;
}

#light .numbers-wrapper {
  background: colors.$light-start-btn;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}

#dark .numbers-wrapper {
  background: colors.$light-start-btn;
  border: 1px solid colors.$accent-color;
}

#light .number-circle {
  background: colors.$switch-btn-light;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
  border: 3px solid colors.$light-main-color;
}

#dark .number-circle {
  border: 1px solid colors.$accent-color;
  background: rgba(0 , 0 , 128, 0.4);
  box-shadow: inset 0 0 10px rgba(colors.$light-btn-shadow, 1);

}


#light .grid-circle {
  background: colors.$light-start-btn;
  box-shadow: inset 0 0 10px rgba(colors.$light-btn-shadow, 1);
}

#dark .grid-circle {
  border-bottom: 1px solid colors.$accent-color;
  background: rgba(0 , 0 , 128, 0.4);
  box-shadow: inset 0 0 10px rgba(colors.$light-btn-shadow, 1);
}

//#light .selected {
//  color: colors.$light-main-color;
//  background: colors.$accent-color;
//  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
//}

#light .selected {
  background: colors.$accent-color;
  box-shadow: 0 0 10px rgba(colors.$light-main-color, 1);

  p{
    color: colors.$dark-main-color;
  }
}

#dark .selected {
  color: colors.$light-main-color;
  background: colors.$accent-color;
  box-shadow: 0 0 10px rgba(colors.$light-main-color, 1);
}


#light .generator-btn {
  background: colors.$switch-btn-light;
  color: colors.$dark-main-color;
  border: 2px solid colors.$light-btn-border-color;
  box-shadow: 3px 5px 10px colors.$light-btn-shadow;
}

#dark .generator-btn {
  background: colors.$light-main-color;
  color: colors.$dark-main-color;
  border: 2px solid colors.$dark-main-color;
  box-shadow: 0 0 10px colors.$dark-main-color;
}


