@use '../settings/variables';


.generator-wrapper{
  height: 100vh;
  width: 100%;
  overflow: auto;

  .bar {
    background: transparent;
    padding: 1rem 2rem;
    width: 100%;
    height: 4rem;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: flex-start;

    .back-icon {
      display: block;
      font-size: 2rem;
    }
  }

  h2, h3 {
    text-align: center;
    font-family: variables.$Montserrat;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 auto 0.9rem auto;
  }

  h3 {
    margin-top: 0.9rem;
    font-size: 0.7rem;
  }

  .generator-container {
    height: auto;
    width: 100%;
    border-radius: 0 0 20px 20px;

    .form-container {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .numbers-form {
        display: flex;
        flex-flow: wrap;
        margin-bottom: 1rem;

        div {
          width: 33%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
        }

        label {
          margin: 0.5rem;
          color: rgba(0 , 0 , 128, 1);
          font-family: variables.$Montserrat;
          font-size: 0.7rem;
          font-weight: 700;

        }

        input {
          width: 3.5rem;
          height: 3.5rem;
          border: none;
          box-shadow: inset 0 0 10px rgba(0 , 0 , 0, 1);
          border-radius: 50%;
          background: transparent;
          font-family: variables.$Montserrat;
          font-size: 1rem;
          font-weight: 700;
          color: rgba(0 , 0 , 128, 1);
          text-align: center;

        }
      }

      .generator-btn {
        padding: 1rem 1rem;
        width: auto;
        height: auto;
        max-width: 60%;
        margin: 1rem auto;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 600;
        font-family: variables.$Montserrat;
        opacity: 80%;

        p {
          font-size: 1.2rem;
          text-align: center;
        }

        &:hover {
          box-shadow: 0 0 30px rgba(0, 223, 0, 0.8);
        }

        &:active {
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8);
        }

      }

      .arrows {
        padding: 1.3rem 1.3rem;
        border-radius: 10rem;

        .refresh-icon {
          display: block;
          font-family: variables.$Gluten;
          font-size: 2rem;
          text-align: center;
          color: white;
        }
      }
    }

    .generator-alert {
      font-family: variables.$Montserrat;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  .numbers-text {
    margin: 0.5rem auto 0.9rem auto;
  }

  .numbers-wrapper {
    margin-top: 0;
    padding: 1rem;
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btns-container {
      position: relative;

      .add-btn {
        position: absolute;
        right: -4rem;
        bottom: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: none;
        background: none;

        .add-icon {
          font-size: 3rem;
          display: inline;
        }
      }
    }


    .arrows {
      padding: 1.3rem 1.3rem;
      border-radius: 10rem;

      .refresh-icon {
        display: block;
        font-family: variables.$Gluten;
        font-size: 2rem;
        text-align: center;
        color: white;
      }
    }

    .option {
      padding: 0.75rem;
    }

    .numbers-box {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 20px;
      padding: 0.5rem 0 1rem 0;

      .number-circle {
        width: 2.9rem;
        height: 2.9rem;
        margin: 0.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: variables.$Montserrat;
        font-size: 1rem;
        font-weight: 700;

        @media  screen and (min-width: 412px){
          width: 3.2rem;
          height: 3.2rem;
          //margin: 0 0.3rem;
          font-size: 1.3rem;
        }
      }
    }


    h2, h3 {
      margin: 0 auto 0.9rem auto;
    }

    h2 {
      font-size: 1.2rem;

      @media  screen and (min-width: 412px){
        font-size: 1.8rem;
      }
    }

    h3 {
      font-size: 0.7rem;

      @media  screen and (min-width: 412px){
        font-size: 0.9rem;
      }
    }
  }


  .numbers-grid {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 2rem 10rem;

    @media  screen and (min-width: 412px){
      margin-top: 1rem;
      padding: 0.5rem 0.5rem 10rem;
    }

    .grid-circle {
      width: 1.7rem;
      height: 1.7rem;
      margin: 0.2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: variables.$Montserrat;
      font-size: 0.9rem;
      font-weight: 700;
      transition: 0.3s ease-in-out;

      @media  screen and (min-width: 412px){
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  .double {
    padding: 0.5rem 0.5rem 1rem;
    margin: 0.1rem;
  }

  .secondary {
    margin-top: 0;
    padding: 0.5rem 0.5rem 1rem;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }

  .options-container{
    width: 100%;
    height: auto;
    margin: 1rem auto;

    .radio-form {
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;



      .option-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .option-wrapper {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        font-size: 1rem;



        @media  screen and (min-width: 412px){
          width: 2.5rem;
          height: 2.5rem;
          font-size: 1.3rem;
        }

      }
      .addSet-btn {
        width: auto;
        height: auto;
        margin: 1.5rem auto;
        border-radius: 3rem;
        padding: 0.5rem 1rem;
        font-size: 0.6rem;

        @media  screen and (min-width: 412px){
          font-size: 1rem;
        }

        svg {
          display: block;
        }
      }

      .sets-arrows {

        border-radius: 6rem;
        padding: 0.7rem;

        @media  screen and (min-width: 412px){
          padding: 1rem;
        }

        svg {
          font-size: 1rem;

          @media  screen and (min-width: 412px){
            font-size: 1.3rem;
          }
        }
      }




    }


    label{
      font-family: variables.$Montserrat;
      font-weight: 900;

    }

    input{
      display: none;
    }

  }

  .additionalSets-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7rem;

    .additionalSetsList {
      list-style: none;
      margin: 10px auto;
      display: flex;
      padding-bottom: 0.5rem;

      .additional-number-circle {
        width: 2.9rem;
        height: 2.9rem;
        margin: 0.1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: variables.$Montserrat;
        font-size: 1rem;
        font-weight: 700;

        @media  screen and (min-width: 412px){
          width: 3.2rem;
          height: 3.2rem;
          margin: 0 0.3rem;
        }
      }
    }
  }

  .double-set-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;

    .additional-number-circle-double, .additional-secondary-number-circle-double {
      width: 2.7rem;
      height: 2.7rem;
      margin: 0.1rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: variables.$Montserrat;
      font-size: 0.9rem;
      font-weight: 700;

      @media  screen and (min-width: 412px){
        width: 2.9rem;
        height: 2.9rem;
        margin: 0 0.3rem;
        font-size: 1.1rem;
      }
    }
  }


}
