$light-main-color: rgba(0, 0 , 128, 1);
$accent-color: rgba(250, 106, 20, 1);
$light-menu-middle-color: rgba(0, 0, 128, 0.7);
$light-border-color: rgba(0, 0 , 128, 0.1);
$light-btn-border-color: rgba(255, 255, 255, 0.3);
$light-start-btn: rgba(255, 255, 255, 0.2);
$light-start-btn-hover: rgba(0, 17, 82, 0.8);
$light-btn-shadow: rgba(0, 0, 0, 1);
$light-btn-active: rgba(0, 0, 0, 0.8);
$light-start-btn-text: rgba(0 , 0 , 128, 0.9);
$light-login-btn-hover: rgba(0, 100, 250, 0.8);

$switch-btn-light: rgba(0, 170, 255, 0.6);
$switch-btn-dark: rgba(30, 59, 255, 0.6);
$dark-btn-glow: rgba(255, 255, 255, 1);
$dark-border-color: rgba(0, 0 , 0, 0.4);
$dark-main-color: rgba(255, 255, 255, 1);
$accent-color: rgba(250, 106, 20, 1);
$error: rgba(236, 11, 67, 1);
$success: rgba(56, 167, 0, 1);


$color-bg1: rgb(108, 0, 162);
$color-bg2: rgb(0, 17, 82);
$light-color-1: rgb(57, 0, 153);
$light-color-2: rgb(255, 0,84);
$light-color-3: rgb(138, 201, 38);
$light-color-4: rgb(158, 0, 89);
$light-color-5: rgb(255, 189, 0);

$dark-color-1: rgb(24, 78, 119);
$dark-color-2: rgb(0, 8, 20);
$dark-color-3: rgb(36, 0, 70);
$dark-color-4: rgb(60, 9, 108);
$dark-color-5: rgb(0, 29, 61);